/* ===============================
   ABOUT / PITCH SECTION
================================= */

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 4rem;
  padding: 10rem 10%;
  color: #d8cff9;
  background-color: #0a0a0f;
}

/* Réduction de l'espacement entre les blocs About */
.about-section + .about-section {
  margin-top: -8rem;
}

.about-left {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.4rem;
}

.about-number {
  font-size: 0.9rem;
  color: #a48cff;
  letter-spacing: 2px;
  font-weight: 500;
}

.about-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: #cbbdfc;
  letter-spacing: 1px;
}

.about-right {
  flex: 1;
  max-width: 60%;
}

.about-right p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 1.8rem;
  color: #ffffff;
}


.about-right span {

  color: #C4B5FD;
}




/* Effet progressif */
.about-section {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive */
@media (max-width: 900px) {
  .about-section {
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 1.5rem;
  }

  .about-right {
    max-width: 100%;
  }
}